body {
    background-color: rgba(209, 227, 245, 0.781);
}

p {
    margin-bottom: 20px;
}

header {
    background-color: #cfcece;
    color: rgb(230, 19, 19);
    padding: 20px;
    text-align: center;
}


.btn-custom {
    background-color: #5aaae4;
    color: #ffffff;
    border: 2px solid #5aaae4;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-custom:hover, .btn-custom:focus {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
    text-decoration: none;
}

.btn-secondary-custom {
    background-color: #f8f9fa;
    color: #333;
    border: 2px solid #ddd;
}

.btn-secondary-custom:hover, .btn-secondary-custom:focus {
    background-color: #e2e6ea;
    border-color: #ccc;
    color: #333;
}

