body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: black;
}

.resume {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    padding: 0px;
}

header, section, footer {
    margin-bottom: 20px;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight:100;
    font-size: 2.5rem;
    text-align: left;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #222;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size: 1.2rem;
    text-align: left;
}

strong {
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

footer p {
    font-style: italic;
    text-align: center;
}